h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101055-01. Proponer el plan de mercadeo digital de acuerdo con características del segmento de mercado.