.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td SENA. (2020). Adaptado de Manuales prácticos de la Mipyme: Como Elaborar el Plan de Comunicación. (s.f.). Ejemplo Plan de Comunicación.
                    td Documento PDF
                    td 
                        a(href="media/documentos/complementarios/Ejemplo_plan_de_comunicacion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                 